* {
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	background-color: white;
	-webkit-tap-highlight-color: transparent;
}

h1 {
	color: white;
	font-weight: 700;
	font-size: 45px;
	line-height: 60px;
	letter-spacing: 2px;
	margin: 0;
}

h2 {
	color: #333;
	font-weight: 300;
	font-size: 30px;
	margin: 35px 0;
	line-height: 2;
}

h3 {
	background-color: white;
	color: #333;
	font-size: 24px;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	margin: 30px 0;
}

h4 {
	color: #727272;
	font-weight: 400;
	line-height: 2;
}

hr {
	border: none;
	color: lightgray;
	background-color: lightgray;
	height: 1px;
}

.banner {
	position: fixed;
	background: url(./../img/me1.jpg);
	background-size: cover;
	background-position-x: 20%;
	height: 100vh;
	width: 400px;
	right: 65%;
	line-height: 70;
}

.container {
	position: absolute;
	width: 55%;
	min-height: 100vh;
	right: 0;
}

.header {
	position: fixed;
	top: 0;
	height: 40px;
	width: 55%;
	border-bottom: 1px solid lightgray;
	line-height: 40px;
	text-align: end;
	background-color: white;
	z-index: 100;
}

.header span {
	vertical-align: sub;
	padding: 0 15px;
	cursor: pointer;
	transition: .3s;
}

.header span:hover {
	opacity: .7;
}

.content {
	padding: 50px;
	transition: .3s;
}

.name-block {
	position: absolute;
	top: 12%;
	padding: 20px;
	text-shadow: 0 0 30px black;
}

.name-block h2 {
	color: white;
	margin: 0;
}

.info-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15px;
}

.info-list div {
	width: 50%;
	padding: 10px 0;
	font-weight: 300;
}

.info-list div span {
	font-weight: 500;
}

.progress-label {
	font-weight: 300;
	padding: 15px 0;
}

.progress-label span {
	font-weight: 500;
}

.progress {
	height: 2px;
	margin-bottom: 20px;
	background-color: #ddd;
	border-radius: 0;
	box-shadow: none;
	overflow: visible;
	width: 90%;
}

.progress-bar {
	height: 2px;
	line-height: 8px;
	background-color: #666;
	box-shadow: none;
	position: relative;
}

.progress-bar span {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
	background: #F1F3F6;
	font-weight: 500;
	position: absolute;
	top: -16px;
	right: -20px;
	font-size: 13px;
}

.timeline {
	position: relative;
}

.timeline:before {
	background: #ddd;
	bottom: 0;
	content: "";
	left: 18px;
	position: absolute;
	top: 50px;
	width: 1px;
	height: 75%;
}

.timeline:after {
	font-family: 'Ionicons';
	top: 0;
	left: -5px;
	width: 50px;
	height: 50px;
	position: absolute;
	text-align: center;
	color: #ddd;
	font-size: 36px;
	line-height: 45px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.exp-holder {
	margin-top: 70px;
}

.exp {
	padding: 20px 20px 0 80px;
	position: relative;
}

.exp .hgroup {
	margin-bottom: 5px;
}

.exp:after {
	background: #FFF;
	border: 2px solid #ddd;
	border-radius: 50%;
	content: "";
	height: 20px;
	left: 22px;
	position: absolute;
	text-align: center;
	top: 24px;
	width: 20px;
}

.exp .hgroup h4, .exp .hgroup h5 {
	display: table-cell;
	text-transform: none;
	margin-bottom: 10px;
}

.exp .hgroup h5 {
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	color: #727272;
	padding-left: 60px;
	position: relative;
}

.trophy {
	position: absolute;
	font-size: 26px;
	color: gold;
	margin-left: 4px;
	z-index: 50;
}

.award {
	position: absolute;
	font-size: 26px;
	color: gold;
	margin-left: 9px;
	z-index: 50;
}

.award i {
	background-color: white;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 41px;
}

.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: .7s;
	animation-name: animatebottom;
	animation-duration: .7s
}

@-webkit-keyframes animatebottom {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes animatebottom { 
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
.green {
	color: #009688;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	color: #009688;
}

.center {
	position: absolute;
	width: 220px;
	height: 220px;
	top: 90px;
	left: 90px;
}

.dot-1 {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	top: 95px;
	left: 95px;
	background: #009688;
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: jump-jump-1 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
	animation: jump-jump-1 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
	position: absolute;
	z-index: 2;
	width: 60px;
	height: 60px;
	top: 80px;
	left: 80px;
	background: #009688;
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: jump-jump-2 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
	animation: jump-jump-2 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
	position: absolute;
	z-index: 1;
	width: 90px;
	height: 90px;
	top: 65px;
	left: 65px;
	background: #009688;
	border-radius: 50%;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: jump-jump-3 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
	animation: jump-jump-3 1s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
	0%, 70% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes jump-jump-1 {
	0%, 70% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes jump-jump-2 {
	0%, 40% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes jump-jump-2 {
	0%, 40% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes jump-jump-3 {
	0%, 10% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes jump-jump-3 {
	0%, 10% {
		box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@media (max-width: 1150px) {
	.banner {
		right: unset;
		width: 30%;
	}

	.container {
		width: 67%;
	}

	.content {
		padding: 40px;
		margin-top: 40px;
	}

	.header {
		position: fixed;
		width: 68%;
	}
}

@media (max-width: 1024px) {
	.sticky {
		top: 36px;
	}

	.banner {
		position: static;
		height: 100%;
		width: 100%;
		line-height: normal;
		background-position-y: 70%;
		margin-top: 35px;
	}

	.name-block {
		position: static;
		padding: 150px 20px 70px 20px;
	}

	.header {
		position: fixed;
		left: 0;
		height: 35px;
		line-height: 35px;
		width: 100%;
	}

	.header span {
		padding: 0 5px;
		font-size: 15px;
	}

	.container {
		position: static;
		width: 100%;
	}

	.content {
		padding: 25px;
		margin: 0;
	}
}

@media (max-width: 720px) {
	h1 {
		font-size: 35px;
		line-height: 50px;
	}

	h2 {
		font-size: 28px;
		line-height: 1.7;
	}

	.name-block {
		padding: 50px 20px 300px 20px;
	}

	.name-block h2 {
		line-height: 1.3;
	}
}

@media (max-width: 500px) {
	.name-block {
		padding: 100px 15px 350px 15px;
	}

	.info-list div {
		width: 100%;
	}
}